extends base

block content 
    h1 change title of video
    form(action="", method="POST")
        input(name="title",placeholder="video Title",value=video.title,required)
        input(value="save",type="submit")